<div ui-view="jumbotron"></div>
<div class="contact" ng-controller="contactController">
  <h3 class="text-center">联系方式</h3>
  <form accept-charset="UTF-8" name="contact_form" style="margin-left: 20%;margin-right: 20%;" ng-submit="contact()">
    <header class="info" id="header">
      <h4>情况描述</h4>
      <div>请在这里描述你的问题，我们的工作人员将会尽快联系你。</div>
    </header>
    <hr style="border: 1px dashed #666666">
    <div class="form-group">
      <label for="email" id="title_email">
        您的邮箱：
        <span class="required-flag" id="req_1">*</span>
      </label>
      <input class="form-control" id="user_email" maxlength="255" name="email" type="text" ng-model="feedback.email" required>
    </div>
    <div class="form-group">
      <label for="email" id="name">
        您的姓名：
        <span class="required-flag" id="req_1">*</span>
      </label>
      <input class="form-control" id="user_name" name="name" type="text" ng-model="feedback.name" required>
    </div>
    <div class="form-group">
      <label for="description" id="description">
        问题描述：
        <span class="required-flag" id="req_2">*</span>
      </label>
      <textarea class="form-control form-group" cols="50" id="description" name="description" required="" rows="10" spellcheck="true" style="width: 100%" tabindex="2" ng-model="feedback.description" required></textarea>
    </div>
    <input class="btn" id="saveForm" name="saveForm" type="submit" value="提交" ng-disabled="contact_form.$invalid">
  </form>
</div>
