<div class="container-fluid ticket-info">
  <div class="row-fluid">
    <form name="ticketInfoForm">
      <div style="margin-bottom: 20px">
        <h4><strong>选择门票</strong></h4>
      </div>
      <div>
        <p><input id="student" type="radio" ng-model="ticket" value="student"><label for="student" class="muted">490 RMB  （ 学生票 ）</label></p>
      </div>
      <div>
        <p><input id="special" type="radio" ng-model="ticket" value="special"><label for="special" class="muted">780 RMB （ 特价票 ）</label></p>
      </div>
      <div>
        <p><input id="basic" type="radio" ng-model="ticket" value="basic"><label for="basic" class="muted"> 980 RMB （ 普通票 ）</label></p>
      </div>

      <div class="text-right pre-next">
        <button class="btn-md btn-available" ng-click="backToLastState($state.current.name)">上一步</button>
        <button type="submit" class="btn-md btn-available" ng-click="submitTicketInfo(ticket)">确定</button>
      </div>
    </form>
  </div>
</div>
