<div class="container-fluid profile" ng-controller="applyController">
  <div class="row-fluid" id="profession" ng-controller="professionController">
    <div class="container-fluid profile-header">
      <h5 class="pull-left"><strong>职业经历</strong></h5>
      <div class="action pull-right">
        <button class="btn-sm btn-profile btn-linkedin" ng-click="importFromLinkedIn()">导入Linkedin</button>
        <button class="btn-sm btn-profile btn-delta-style" ng-click="addExperience()">添加</button>
      </div>
    </div>
    <div class="experience">
      <div class="exp-entry container-fluid" ng-repeat="experience in professionExperiences">
        <ng-include src="'/app/apply/partials/profession-experience.html'">
      </div>
    </div>
  </div>

  <div class="row-fluid" id="education">
    <div class="container-fluid profile-header">
      <h5 class="pull-left"><strong>教育</strong></h5>
      <div class="action pull-right">
        <button class="btn-sm btn-profile btn-delta-style">添加</button>
      </div>
    </div>
    <div class="experience">
      <div class="exp-entry container-fluid" ng-repeat="experience in educationExperiences">
        <ng-include src="'/app/apply/partials/education-experience.html'">
      </div>
    </div>
</div>
