<div class="container-fluid profile experience">
  <div class="row-fluid">
    <div id="profession">
      <div class="container-fluid experience-header">
        <h5 class="pull-left"><strong>职业经历</strong></h5>
        <div class="action pull-right">
          <button class="btn-sm btn-profile btn-linkedin" ng-click="importFromLinkedIn()">导入Linkedin</button>
          <button class="btn-sm btn-profile btn-delta-style" ng-click="addExperience()">添加</button>
        </div>
      </div>
      <div>
        <div class="exp-entry container-fluid" ng-repeat="experience in experiences" ng-init="isInEditing = false">
          <div class="col-md-9" ng-show="!isInEditing">
            <p class="where-and-when">
              <span class="where">{{ experience.company }}</span>
              <span class="duration">{{ experience.duration }}</span>
            </p>
            <p class="title"><strong>{{ experience.title }}</strong></p>
            <p class="muted description">{{ experience.description }}</p>
          </div>
          <div class="edit-region col-md-9" ng-show="isInEditing">
            <input class="form-control" type="text" ng-model="experience.company" required>
            <input class="form-control" type="text" ng-model="experience.duration" required>
            <input class="form-control" type="text" ng-model="experience.title" required>
            <textarea class="form-control" rows="3" ng-model="experience.description" required></textarea>
          </div>
          <div class="col-md-3 text-right">
            <button class="btn-sm btn-primary btn-profile" ng-show="!isInEditing" ng-click="isInEditing = true">M</button>
            <button class="btn-sm btn-primary btn-profile" ng-show="isInEditing" ng-click="isInEditing = false; saveExperience(experience)">S</button>
            <button class="btn-sm btn-primary btn-profile" ng-click="removeExperience(experience)">D</button>
          </div>
        </div>
      </div>
    </div>

    <div id="education">
      <div class="container-fluid experience-header">
        <h5 class="pull-left"><strong>教育</strong></h5>
        <div class="action pull-right">
          <button class="btn-sm btn-profile btn-delta-style" ng-click="addEducation()">添加</button>
        </div>
      </div>
      <div>
        <div class="exp-entry container-fluid" ng-repeat="education in educations" ng-init="isInEditing = false">
          <div class="col-md-9" ng-show="!isInEditing">
            <p class="where-and-when">
              <span class="where">{{ education.where }}</span>
              <span class="duration">{{ education.duration }}</span>
            </p>
            <p class="title"><strong>{{ education.degree }}</strong></p>
            <p class="muted description">{{ education.description }}</p>
          </div>
          <div class="edit-region col-md-9" ng-show="isInEditing">
            <input class="form-control" type="text" ng-model="education.where" required>
            <input class="form-control" type="text" ng-model="education.duration" required>
            <input class="form-control" type="text" ng-model="education.degree" required>
            <textarea class="form-control" rows="3" ng-model="education.description" required></textarea>
          </div>
          <div class="col-md-3 text-right">
            <button class="btn-sm btn-primary btn-profile" ng-show="!isInEditing" ng-click="isInEditing = true">M</button>
            <button class="btn-sm btn-primary btn-profile" ng-show="isInEditing" ng-click="saveEducation(education)">S</button>
            <button class="btn-sm btn-primary btn-profile" ng-click="removeEducation(education)">D</button>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right pre-next">
      <button class="btn-md btn-available" ng-click="backToLastState($state.current.name)">上一步</button>
      <button class="btn-md btn-available" ng-click="submitExperience()">下一步</button>
    </div>
  </div>
</div>
