<div class="container-fluid personal-info" ng-controller="applyController">
  <div class="row-fluid">
    <form name="personalInfoForm" novalidate>
      <label for="email" id="title_name">
        姓名：
        <span class="required-flag" id="req_1">*</span>
      </label>
      <input class="form-control" ng-model="personalInfo.applicant_name" required />
      <label for="email" id="title_phone">
        联系电话：
        <span class="required-flag" id="req_1">*</span>
      </label>
      <input class="form-control" ng-model="personalInfo.phone" required />
      <label for="email" id="title_wechat">
        微信：
        <span class="required-flag" id="req_1">*</span>
      </label>
      <input class="form-control" ng-model="personalInfo.wechat" required />
      <div class="text-right pre-next">
        <button type="submit" class="btn-md btn-available" ng-disabled="personalInfoForm.$invalid" ng-click="submitPersonalInfo(personalInfoForm.$valid)">下一步</button>
      </div>
    </form>
  </div>
</div>
