<div class="container-fluid personal-info" ng-controller="personalInfoController">
  <div class="row-fluid">
    <form>
      <input class="form-control" ng-model="applicantName" placeholder="姓名">
      <input class="form-control" ng-model="phone" placeholder="联系电话">
      <input class="form-control" ng-model="wechat" placeholder="微信">
    </form>
    <div class="text-right pre-next">
      <button class="btn-md btn-unavailable">上一步</button>
      <button class="btn-md btn-available">下一步</button>
    </div>
  </div>
</div>
